/* .container {
    width: 100vh;
    border: 5px solid black;
    margin: 30px;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
} */

.container-contentRk {
    
    background-color: rgb(0, 0, 0);
    border: 5px solid rgb(255, 208, 0);
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.card {
    background-color: rgb(0, 0, 0);
    color: white;
}

.cardb {
    border: 5px solid white;
}

.container-contentRm {
    
    background-color: rgb(0, 0, 0);
    border: 5px solid rgb(255, 208, 0);
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    
}

.container-contentRb {
    
    background-color: rgb(0, 0, 0);
    border: 5px solid rgb(255, 208, 0);
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    
}

.container-contentRt {
    
    background-color: rgb(0, 0, 0);
    border: 5px solid rgb(255, 208, 0);
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    
}